.Field{
    &__container {
        position: relative;
        width: 800px;
        height: 600px;
        background-color: lightblue;
        margin: 0 auto;

        .Objective {
            position: absolute; 
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #FABADA;
            cursor: pointer; 
            transition: .3s ease all;
            
        }
    }
}